@import url("/css/style.css");

.content {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
  .content__title {
    color: var(--color-black);
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .content__paragraph {
    color: var(--color-space);
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .content__subtitle {
    color: var(--color-blue);
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  
  .content__list {
    margin: 20px 0;
    padding-left: 20px;
  }
  
  .content__list-item {
    color: var(--color-black);
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  /* Image styles */
  .content__image {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    border: 2px solid var(--color-space);
    border-radius: 8px;
  }
  
  /* Highlighted elements */
  .content__text--important {
    font-weight: bold;
    color: var(--color-red);
  }
  
  .content__text--italic {
    font-style: italic;
    color: var(--color-green);
    background-color: var(--color-gray);
  }